#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:10px;
    margin: 10px;
}

#gallery div {
    margin-bottom:10px; /* to match column gap */
    padding: 5px;
    border: #ccc 2px solid;
    border-radius: 5px;
    overflow: hidden;
}

#gallery p {
    max-height: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;

    display: -webkit-box;
    max-width: 10000px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 200%;
    line-height: 100%;
}

#gallery div:hover {
    background-color: #e0ede0;
    border:#a1c9a1 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

#gallery p span {
    font-size: 75%;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    border-radius: 5px;
}

#gallery a {
    outline: none;
    text-decoration: none;
    color: black;
}

@media (max-width: 3000px) {
    #gallery {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}

@media (max-width: 1500px) {
    #gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}

@media (max-width: 1200px) {
    #gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
        column-gap: 5px;
    }
    #gallery div {
        margin-bottom: 5px; /* to match column gap */
    }
    a {
        font-size: 1rem;
      }
}

@media (max-width: 400px) {
    #gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }   
}