/* STYLE COLORS */
* {
  --main-color: black;
  --accent-color: #447744;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.back-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  position: relative; 
  z-index:1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--accent-color);
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 3rem;
  height: .36rem;
  margin: .6rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}


.container {
  margin: 2%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 3rem;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
  color: #eee;
}

.nav-link:hover{
  color: var(--main-color);
}

.center {
  text-align: center; 
}

@media (max-width: 1200px) { 
  
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  a {
    font-size: 2rem;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 0;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 3rem 0;
  }
  
  .nav-link {
      color: var(--accent-color);
      font-size: 3rem;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(16px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-16px) rotate(-45deg);
  }


}

